Техническое задание на разработку syslog коллектора
===================================================
:author: Павел Филонов (filonovpv@gmail.com)
:toc:

Глоссарий
---------

|===================
| syslog     | стандарт сетевого протокола передачи лог сообщений
| сенсор     | программа, которая регистрирует событие и оиправляет syslog сообщение
| коллектор  | программа, которая собирает данные в пасивном режиме с сенсоров
| демон      | программа, которая работает в офновом режиме
| TCP        | сетевой протокол транспортного уровеня с подтверждением доставки
| UDP        | сетевой протокол транспортного уровня без подтверждения доставки
| TLS        | криптографический сетевой протокол, работающий поверх TCP
| UUID       | стандарт идентификации
| ISO8601    | стандарт кодирования времени
|===================

Назначение и цели создания системы
----------------------------------
При работе с распределенными системами возникают задачи, связанные с
централизованным хранением и обработкой логов различных процессов. Одним из 
самых распространненых стандартов для передачи логов по сети является syslog,
который является стандартом де-факто для различных сетевых устройств и операционных
систем семейства UNIX.

Существующие системы по обработке syslog сообщений в основном решают только задачу
аггрегации даных от разных источников с последующей их записью в виде текстовых
файлов в файловой системе. Сравнительный анализ существующих решений [7-9] показывает,
что требуемый для описываемой задачи функционал не поддерживается вовсе, либо
присутствует только в коммерческих версиях.

Основной целью создания данной системы является получение на выходе ПО для 
решения задачи аггрегации syslog сообщений от различных источников и их пересылка
для дальнейшей обработки.

Характеристика объектов автоматизации
-------------------------------------
Основными объектами в данной системе выступают различные сенсоры syslog сообщений,
которые могут быть настроены отправку сообщений в коллектор. Одной из сложностей
существующих систем является использование различных протоколов для передачи
сообщений. Выделим среди этих протоколов следующие:

    * UDP
    * TCP
    * TLS

Данное разнообразие объясняется различными требованиями, предъявляемыми к сенсорам.
Например, протокол UDP является самым частым вариантом использования. Это связанно
с тем, что UDP как протокол без подтверждения доставки является наиболее простым и не
требовательным к ресурсам, что может быть важно при большой интенсивности потока сообщений.

Протокол TCP используется в случае, когда необходимо гарантировать доставку сообщений
и для случая, когда размеры самих сообщений не помещаются в UDP дейтаграмму.

Протокол TLS позволяет решить задачи шифрования, целостности и аутентификации при 
передаче сообщений, что черезвычайно важно при использовании недеверенных промежуточных
сетей. Например, при передаче сообщений через сеть Интернет.

Отдельно следует рассмотреть ситуацию, когда необходимо осуществлять доаствку
сообщений из удаленных сетей при том ограничении, что сенсорам запрещено отправлять
сетевые пакеты за пределы своей сети. В этом случае видится необходимым использовать
промежуточные точки пересылки, которые будут находится в пределах удаленных сетей, 
создавая таким образом древовидную иерархическую структуру. Дополнительной проблемой
в данном случае может являться потеря информации об реальном источнике сообщений и времени
его приема на промежуточном узле.

Диаграмма компонентов объекта автоматизации представлена на рис. 1

Требования к системе
--------------------

Требования к системе в целом
~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Требование к структуре и функционированию системы
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
Система должна быть разделена на следующие логические компоненты:

    * локальный коллектор 
    * удаленный коллектор

Локальный коллектор должен обеспечивать прием сообщений от локальных сенсоров и
их последующую пересылку на обработку. Удаленный коллектор должен обеспечивать 
прием сообщений от источников расположенных с ним в одной сети и их пересылку в
удаленную систему обработки.

Требования к численности и квалификации персонала
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
В случае использования одного локального коллектора его настройка должна 
осуществляться силами штатного сетевого администратора и не требовать спецаильных
знаний, отсутсвующих в документации. Требования по настройке сенсоров зависият от
типа и вресии сетевого обурудования, либо ОС


Требования к функциям
~~~~~~~~~~~~~~~~~~~~~

Требования к видам обеспечения
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Состав и содержание работ по созданию системы
---------------------------------------------

Порядок контроля и приемки системы
----------------------------------

Требования к составу и содержанию работ по подготовке объекта автоматизации к вводу системы в действие
------------------------------------------------------------------------------------------------------

Требования к документации
-------------------------

Источники разработки
--------------------

. Описания стандарта syslog https://tools.ietf.org/html/rfc5424[RFC 5424]
. Передача syslog сообщений поверх UDP https://tools.ietf.org/html/rfc5426[RFC 5426]
. Передача syslog сообщений поверх TLS https://tools.ietf.org/html/rfc5425[RFC 5425]
. Передача syslog сообщений поверх TCP https://tools.ietf.org/html/rfc6587[RFC 6587]
. Описание стандарта UUID https://www.ietf.org/rfc/rfc4122.txt[RFC 4122]
. Описание стандарта ISO8601 https://www.ietf.org/rfc/rfc3339.txt[RFC 3339]
. Коллектор syslog сообщений https://syslog-ng.org[syslog-ng]
. Система сбора логов http://logstash.net[logstash]
. Syslog сенсор http://www.opennet.ru/man.shtml?topic=syslogd&category=8[syslogd]

